body {
    margin: 0;
    box-sizing: border-box;
    background: #FFF3E9;
}

.container {
    width: 80%;
    margin: 0 auto;
}



.logo {
    font-family: 'Major Mono Display', monospace;
    text-transform: uppercase;
    color: #573353;
    margin-bottom: 0;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-family: 'Azeret Mono', monospace;
    color: #573353;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 200;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.welcome-message {
    font-family: 'Azeret Mono', monospace;
    color: #573353;
    font-size: 18px;
    font-weight: 400;
}

.image-post {
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.hidden {
    display: none;
}

.requested-image {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.image-info {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-post h2 {
    color: #FDA758;
    margin-bottom: 0;
    font-family: 'Azeret Mono', monospace;
}

.image-post p {
    color: #573353;
    font-family: 'Azeret Mono', monospace;
}

.like-btn {
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    background: #C8C1C8;
    color: #573353;
    font-size: 11px;
    font-family: 'Azeret Mono', monospace;
}

.like-btn:hover,
.like-btn:active,
.liked-state {
    background: #FDA758;
}


.image-description {
    text-align: left;

}