body {
    margin: 0;
    box-sizing: border-box;
    background: #FFF3E9;
}

.container {
    width: 80%;
    margin: 0 auto;
}



.logo {
    font-family: 'Major Mono Display', monospace;
    text-transform: uppercase;
    color: #573353;
    margin-bottom: 0;
}

.subtitle {
    text-align: center;
    font-family: 'Azeret Mono', monospace;
    color: #573353;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 200;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #FDA758;
    color: #573353;
    font-size: 15px;
    font-family: 'Azeret Mono', monospace;

}

main {
    border-radius: 12px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

button {
    width: 80%;
}

.hidden {
    display: none;
}

.imagePost img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.image-info {
    padding: 0 10px;
}

.imagePost h2 {
    color: #FDA758;
    font-family: 'Azeret Mono', monospace;
}

.imagePost p {
    color: #573353;
    font-family: 'Azeret Mono', monospace;
}


.image-description {
    text-align: left;

}